<launch>
  <node name = "obstacle_controller" pkg= "group3_rwa4" type = "obstacle_controller" />
  <node name="blackout_controller"
        pkg="group3_rwa4"
        type="blackout_controller"
        required="true"
        ns="group_3"
        output="screen"
  />
  <node name="complete_controller"
        pkg="group3_rwa4"
        type="complete_controller"
        required="true"
        ns="group_3"
        output="screen"
  />
  <node name="conveyor_belt_monitor_controller"
        pkg="group3_rwa4"
        type="conveyor_belt_monitor_controller"
        required="true"
        ns="group_3"
        output="screen"
  />
</launch>
